<div class="row align-item-center">
  <h1>水族館の新規登録</h1>
  <div class="ml-auto aquaria__linkBox">
    <% link_to '一覧', aquaria_path, class: 'btn btn-outline-dark' %>
  </div>
</div>
<%= render partial: 'form', locals: { aquarium: @aquarium } %>